<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/src/app/footer/footer.component.css"> <!--import css footer-->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<!--parte footer dell'html-->
  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
            <div class="footer-col">
                <div class="content">
                    <a href="#"> <!--i link da collegare vanno dove sono presenti gli #-->
                    <img src="https://i.imgur.com/1yvwx9I.png" >
                    </a>
                </div>
            </div>
  	 		<div class="footer-col">
  	 			<h4>Azienda</h4> <!--titolo-->
  	 			<ul>
  	 				<li><a href="#">Chi Siamo</a></li> <!--elenco degli elementi-->
  	 				<li><a href="#">Contattaci</a></li>
  	 				<li><a href="#">Placeholder</a></li>
  	 				<li><a href="#">PlaceHolder</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Aiuto</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Consegne</a></li>
  	 				<li><a href="#">Reso</a></li>
  	 				<li><a href="#">Informatica privacy</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Seguici su</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a> <!--icone dei social-->
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
</body>
</html>

