<p>
<h3 align="center">Gli articoli più venduti in Articoli da Ufficio:</h3>
<div class="row row-cols-1 row-cols-md-3 g-4 prova1">
  <div class="col prova">
    <div class="card" style="
    background: linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.5),
      rgba(91, 14, 214, 0.5) 100%
    );
  ">
      <a href="#" ><img src={{articoliVendite[0].immagine}} class="card-img-top" alt="Hollywood Sign on The Hill"/></a>
      <div class="card-body">
        <h5 class="card-title">{{articoliVendite[0].nomeArticolo}}</h5>
        <p class="card-text">Prezzo: € <b>{{articoliVendite[0].prezzo}}</b></p>
        <p class="card-text">Voto: {{articoliVendite[0].voto}}</p>
      </div>
    </div>
  </div>
  <div class="col prova">
    <div class="card" style="
    background: linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.5),
      rgba(91, 14, 214, 0.5) 100%
    );
  ">
      <a href="#"><img src={{articoliVendite[1].immagine}} class="card-img-top" alt="Palm Springs Road"/></a>
      <div class="card-body" >
        <h5 class="card-title">{{articoliVendite[1].nomeArticolo}}</h5>
        <p class="card-text">Prezzo: € <b>{{articoliVendite[1].prezzo}}</b></p>
        <p class="card-text">Voto: {{articoliVendite[1].voto}}</p>
      </div>
    </div>
  </div>
  <div class="col prova">
    <div class="card" style="
    background: linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.5),
      rgba(91, 14, 214, 0.5) 100%
    );
  ">
      <a href="#"><img src={{articoliVendite[2].immagine}} class="card-img-top" alt="Los Angeles Skyscrapers"/></a>
      <div class="card-body" >
        <h5 class="card-title">{{articoliVendite[2].nomeArticolo}}</h5>
        <p class="card-text">Prezzo: € <b>{{articoliVendite[2].prezzo}}</b></p>
        <p class="card-text">Voto: {{articoliVendite[2].voto}}</p>
      </div>
    </div>
  </div>
  <div class="col prova">
    <div class="card" style="
    background: linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.5),
      rgba(91, 14, 214, 0.5) 100%
    );
  ">
      <a href="#"><img src={{articoliVendite[3].immagine}} class="card-img-top" alt="Skyscrapers"/></a>
      <div class="card-body" >
        <h5 class="card-title">{{articoliVendite[3].nomeArticolo}}</h5>
        <p class="card-text">Prezzo: € <b>{{articoliVendite[3].prezzo}}</b></p>
        <p class="card-text">Voto: {{articoliVendite[3].voto}}</p>
      </div>
    </div>
  </div>
  <div class="col prova">
    <div class="card" style="
    background: linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.5),
      rgba(91, 14, 214, 0.5) 100%
    );
  ">
      <a href="#"><img src={{articoliVendite[4].immagine}} class="card-img-top" alt="Palm Springs Road"/></a>
      <div class="card-body mask" >
        <h5 class="card-title">{{articoliVendite[4].nomeArticolo}}</h5>
        <p class="card-text">Prezzo: € <b>{{articoliVendite[4].prezzo}}</b></p>
        <p class="card-text">Voto: {{articoliVendite[4].voto}}</p>
      </div>
    </div>
  </div>
</div>
<h3 align="center">Gli ultimi arrivi in Articoli da Ufficio:</h3>
<div class="row row-cols-1 row-cols-md-3 g-4 prova1">
  <div class="col prova">
    <div class="card" style="
    background: linear-gradient(
      45deg,
      rgba(236, 29, 105, 0.5),
      rgba(91, 14, 214, 0.5) 100%
    );
  ">
      <a href="#" ><img src={{articoliData[0].immagine}} class="card-img-top" alt="Hollywood Sign on The Hill"/></a>
      <div class="card-body">
        <h5 class="card-title">{{articoliData[0].nomeArticolo}}</h5>
        <p class="card-text">Prezzo: € <b>{{articoliData[0].prezzo}}</b></p>
        <p class="card-text">Voto: {{articoliData[0].voto}}</p>
      </div>
    </div>
  </div>
  <div class="col prova">
    <div class="card" style="
    background: linear-gradient(
      45deg,
      rgba(236, 29, 105, 0.5),
      rgba(91, 14, 214, 0.5) 100%
    );
  ">
      <a href="#"><img src={{articoliData[1].immagine}} class="card-img-top" alt="Palm Springs Road"/></a>
      <div class="card-body" >
        <h5 class="card-title">{{articoliData[1].nomeArticolo}}</h5>
        <p class="card-text">Prezzo: € <b>{{articoliData[1].prezzo}}</b></p>
        <p class="card-text">Voto: {{articoliData[1].voto}}</p>
      </div>
    </div>
  </div>
  <div class="col prova">
    <div class="card" style="
    background: linear-gradient(
      45deg,
      rgba(236, 29, 105, 0.5),
      rgba(91, 14, 214, 0.5) 100%
    );
  ">
      <a href="#"><img src={{articoliData[2].immagine}} class="card-img-top" alt="Los Angeles Skyscrapers"/></a>
      <div class="card-body" >
        <h5 class="card-title">{{articoliData[2].nomeArticolo}}</h5>
        <p class="card-text">Prezzo: € <b>{{articoliData[2].prezzo}}</b></p>
        <p class="card-text">Voto: {{articoliData[2].voto}}</p>
      </div>
    </div>
  </div>
  <div class="col prova">
    <div class="card" style="
    background: linear-gradient(
      45deg,
      rgba(236, 29, 105, 0.5),
      rgba(91, 14, 214, 0.5) 100%
    );
  ">
      <a href="#"><img src={{articoliData[3].immagine}} class="card-img-top" alt="Skyscrapers"/></a>
      <div class="card-body" >
        <h5 class="card-title">{{articoliData[3].nomeArticolo}}</h5>
        <p class="card-text">Prezzo: € <b>{{articoliData[3].prezzo}}</b></p>
        <p class="card-text">Voto: {{articoliData[3].voto}}</p>
      </div>
    </div>
  </div>
  <div class="col prova">
    <div class="card" style="
    background: linear-gradient(
      45deg,
      rgba(236, 29, 105, 0.5),
      rgba(91, 14, 214, 0.5) 100%
    );
  ">
      <a href="#"><img src={{articoliData[4].immagine}} class="card-img-top" alt="Palm Springs Road"/></a>
      <div class="card-body mask" >
        <h5 class="card-title">{{articoliData[4].nomeArticolo}}</h5>
        <p class="card-text">Prezzo: € <b>{{articoliData[4].prezzo}}</b></p>
        <p class="card-text">Voto: {{articoliData[4].voto}}</p>
      </div>
    </div>
  </div>
</div>
<!-- <ul>
  <li *ngFor= "let i of articoli">{{i.numeroVendite}} - {{i.nomeArticolo}}</li>
</ul>
<ul>
  <li *ngFor= "let i of sortedArticoli2">{{i.dataUpload}} - {{i.nomeArticolo}}</li>
</ul> -->
