
<header>
  <div class="container">
    <a routerLink="/" class="logo">
    <img src="https://i.imgur.com/1yvwx9I.png" class="img"></a>
      <a routerLink="/" class="logo">BooksForEveryOne</a>
      <a routerLink="/libri" class="logo1">Libri</a>
      <a routerLink="/articoli_da_ufficio" class="logo1">Articoli da Ufficio</a>
      <nav>
        <ul>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li class="menu-container">
            <a routerLink="=/dashbord">Nome Account</a>
            <div class="menu">
              <a routerLink="=/profile">Profilo</a>
              <a routerLink="=/ordini">Ordini</a>
              <a>Logout</a>
            </div>
          </li>
          <li>
          <a routerLink="/pagina">
            Carrello <span>3</span>
          </a>
          </li>
        </ul>
      </nav>
  </div>
</header>
