
header{
  position: relative;
  background: rgb(247, 190, 190);
  padding: 0;
  border-bottom: 1px solid #e72929;
}

a{
  color: #af1313;
}

a:hover{
  background:#e44040;
  color: white;
  cursor: pointer;
}

.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo{
  font-weight: bold;
  padding: 1rem;
}

a.logo1{
  font-weight: bold;
  padding: 1rem;

}

.img{
  width: 100px;
  height: auto;
  padding: 1rem;
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a{
  padding: 1rem;
  display: inline-block;
}

a span{
  background: #ff4d4d;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size:0.9rem;
}


/*selettore numero counter nel cerchio*/
h3{
  margin-top: 8.5px;
  font-size: x-small;
}
/*selettore riferito all'immagine del  carrello*/
img{
  margin: 5px;
   width: 25px;
   height: 25px;
}
/*selettore riferito allo sfondo grigio carrello*/
.icon-button{

   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   color: #333;
   background-color: #dddddd;
   border: none;
   outline: none;
   border-radius: 50%;
   transition: transform 0.3s ease;
}
.icon-button:hover{
  transform: translate(10px, 0px);

}

/*selettore riferito al ccounter del carrello (cerchio arancione)*/
.icon-button__bedge{
           position: absolute;
           top: -10px;
           right: -10px;
           width: 24px;
           height: 24px;
           background-color: orange;
           color: #ffffff;
           display: flex;
           justify-content: center;
           align-items: center;
           border-radius: 50%;

}
/*selettore riferito ai bottoni + e -*/
.btn{
  height: 30px;
  width: 45px;
  align-items: center;
  background-color: rgba(255, 166, 12, 0.882);
  border-radius: 15%;
  font-weight: bold;
  transition: all 0.2 ease;
 border-style:inset;
 border-width:0.1em;

}
.btn:hover{
  box-shadow: none;
  right:8px;

}
.btn:active{
  box-shadow: 0 3px #666;
  transform: translateY(2px)
}
/*selettore riferito al bottone +*/
.aggiungi{

  margin-bottom: 10px;
}


.menu-container{
  position: relative;
}

.menu{
  position:absolute;
  z-index:1;
  background:whitesmoke;
  display: none;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width:8rem;
}
